body {
	font-family: 'Rajdhani', sans-serif;
}

.titleContainer {
	margin: 100px 0 0;
}

.title {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 2.5em;
}

.subtitle {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 1em;
}

.bodyContainer {
	max-width: 1000px;
	margin: 0 auto;
}

.carouselContainer {
	padding: 50px 0;
}

.carouselTitle {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
}

.parentStyle {
	width: 600px;
	margin: 0 auto;
}

.childStyle {
	background-color: #285878;
	padding: 25px 0;
}

.headerStyle {
	text-align: center;
	color: white;
}

.wackyForward {
	width: 30px;
	height: 10px;
	background-color: black;
	opacity: 0.7;
	border: none;
	transition: 0.5s;
	outline: none;
	border-radius: 3px;
}

.wackyForward:hover {
	width: 10px;
	height: 30px;
}


.wackyBackward {
	width: 10px;
	height: 30px;
	background-color: black;
	border: none;
	opacity: 0.7;
	transition: 0.5s;
	outline: none;
	border-radius: 3px;
}

.wackyBackward:hover {
	width: 30px;
	height: 10px;
}
